/* resets */

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

/* styles */

:root {
    --basecolor: rgb(201, 221, 200);
    --basebgcolor: rgb(158, 133, 161);
}

.off {
    display: none !important;
}

.page {
    background-color: var(--basebgcolor);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: var(--basecolor);
}

.form {
    display: flex;
    flex-direction: column;
    min-width: 60vw;
    gap: 1rem;
}

.input, .button {
    padding: .5rem .6rem;
    border-radius: .75rem;
    background-color: var(--basecolor);
}

.button {
    cursor: pointer;
    background: #EECDA3;
  background-image: -webkit-linear-gradient(top, #EECDA3, #EF629F);
  background-image: -moz-linear-gradient(top, #EECDA3, #EF629F);
  background-image: -ms-linear-gradient(top, #EECDA3, #EF629F);
  background-image: -o-linear-gradient(top, #EECDA3, #EF629F);
  background-image: linear-gradient(to bottom, #EECDA3, #EF629F);
    
}

.button--accept {
    background-color: greenyellow;
}

.button--cancel {
    background-color: tomato;
}

@media (min-width: 768px) {
    .page {
        background-color: rgb(102, 82, 100);
    }
}

